
.main{
    background-color: #f2f2f2;
    &__login{
        display: flex;
    justify-content: center;
    align-items: center;
    min-height:calc(100vh - 30px);
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
        &-inner{
            width: 100%;
            h1{
                margin: 0 0 15px;
            }
            .logingroup{
                margin-bottom: 25px;
                width: 100%;
            }
            .forgottext{
                
               
                a{
                    text-decoration: none;
                    color: #1d05ec;
                }
            }
        }
    }
}

.button{
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 6px 16px;
    border-radius: 4px;
    display: block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        background-color: #1565c0;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
}